spark:
  lookup:
    version: '2.2.0'
    prefix: /opt
    work_dir: /mnt/awesomeness
    with_hadoop: true


  # everything under **config** is prefixed with "spark" and will become a java property
  config:
    app:
      name: foobar

    driver:
      cores: 1
      maxResultSize: 1g
      memory: 1g
      extraClassPath: ~
      extraJavaOptions: ~
      
    local:
      dir: /tmp/not-so-awesome

    executor:
      extraClassPath: ~
      extraJavaOptions: ~
      extraLibraryPath: ~
      # names can be flattened too
      'logs.rolling.maxSize': ~
      

    shuffle:
      compress: true
      'file.buffer': 32k
      'io.preferDirectBufs': true
      
