{% from "spark/defaults.yaml" import lookup_map as lmap, config as cmap  with context %}

{% set config = salt['pillar.get']('spark:config', cmap, merge=True) %}


{% set spark = salt['grains.filter_by'](lmap, merge=salt['pillar.get']('spark:lookup', salt['grains.get']('spark:lookup', {}), merge=True), base='default') %}

{% with %}

{% if spark.with_hadoop == True %}
{% set archive_name = "spark-%s-bin-hadoop%s"|format(spark.version, spark.hadoop_version)  %}
{% else %}
{% set archive_name = "spark-%s-bin-without-hadoop"|format(spark.version) %}
{% endif %}

{% set url = '%s/spark-%s'|format(spark.archive_url_base, spark.version) %}
{% set hash_url = "%s/spark-%s/%s.%s.asc"|format(spark.archive_hash_url_base,spark.version, archive_name, spark.archive_type )%}
{% set real_root = "%s/%s"|format(spark.prefix, archive_name) %}


{% do spark.update({
  'real_root': real_root,
  'alt_root': "%s/spark"|format(spark.prefix),
  'bin_dir': '%s/bin'|format(real_root),
  'config_dir': '%s/conf'|format(real_root),
  "archive_name": archive_name,
  "archive_url": "%s/%s.%s"|format(url, archive_name, spark.archive_type),
  "archive_hash_url": hash_url,
  "master_uri": "spark://%s:%s"|format(salt['grains.get']('spark:lookup:master_host', spark.master_host),
                                       salt['grains.get']('spark:lookup:master_port', spark.master_port)),
  'config': config,
  'work_dir': spark.get('work_dir', '%s/work'|format(real_root))
}) %}
{% endwith %}
