[Unit]
Description=Apache Spark {{ service_type|capitalize }}
After=network.target
After=systemd-user-sessions.service
After=network-online.target
 
[Service]
User={{ user }}
Type=forking
EnvironmentFile=-{{ environment_file }}
ExecStart={{ spark_home }}/sbin/start-{{ service_type|lower }}.sh{% if service_type == 'slave' %} $SPARK_MASTER_HOST{% endif %}
ExecStop={{ spark_home }}/sbin/stop-{{ service_type|lower }}.sh
TimeoutSec=30
Restart= on-failure
RestartSec= 30
StartLimitInterval=350
StartLimitBurst=10
 
[Install]
WantedBy=multi-user.target
